{% extends 'blog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="text-center my-5">
        <h1 class="display-4">{{ object.title }}</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="article-content">
                <img src="{{ blog.image | media_filter }}" class="img-fluid mb-4" style="height: auto; max-height: 400px; width: 100%; object-fit: cover;">
                <div class="content-text">
                    <p>{{ object.content }}</p>
                </div>
                <div class="text-center mt-4">
                    <a class="btn btn-primary" href="{% url 'blog:blog_list' %}" role="button">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
