{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block title %}Lorem{% endblock %}

{% block header_title %}Lorem ipsum dolor sit amet{% endblock %}

{% block content %}
<div class="row text-center">
    <div class="row text-center d-flex">
    {% for product in object_list %}
    <div class="col-3 d-flex">
        <div class="card mb-4 box-shadow flex-fill">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <img src="{{ product.image | media_filter }}" class="img-fluid" style="height: 200px; object-fit: cover;">
                <h1 class="card-title pricing-card-title">${{ product.price }}</h1>
                <p>{{ product.description|truncatechars:100 }}</p>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    {% for feature in product.features.all %}
                    <li>- {{ feature }}</li>
                    {% endfor %}
                </ul>
                <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Посмотреть</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
