{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block title %}Lorem{% endblock %}

{% block header_title %}Lorem ipsum dolor sit amet{% endblock %}

{% block content %}
<div class="row text-center">
    {% for product in object_list %}
    <div class="col-3 d-flex mb-4">
        <div class="card flex-fill h-100">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <img src="{{ product.image|media_filter }}" class="img-fluid" style="height: 200px; object-fit: cover;">
                <h1 class="card-title pricing-card-title">${{ product.price }}</h1>
                <p>{{ product.description|truncatechars:100 }}</p>
                <ul class="list-unstyled mt-3 mb-4 text-start">
                    {% for feature in product.features.all %}
                    <li>- {{ feature }}</li>
                    {% endfor %}
                </ul>
                <div class="btn-group" style="margin: 5px;">
                    <a class="btn btn-primary w-100" href="{% url 'catalog:product_detail' product.pk %}" role="button">Посмотреть</a>
                </div>
                <div class="btn-group">
                    {% if perms.catalog.can_unpublish_product and perms.catalog.can_delete_any_product or user == product.owner %}
                    <a class="btn btn-warning w-100" href="{% url 'catalog:product_update' product.pk %}">Изменить</a>
                    <a class="btn btn-danger w-100" href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col-12 text-center mt-4">  <!-- Центрируем кнопку создания -->
        <a class="btn btn-primary" href="{% url 'catalog:product_create' %}">Создать</a>
    </div>
</div>

{% endblock %}
